In [ ]:
#1. Import all required python libraries 
#import numpy as np
import pandas as pd

import matplotlib
from matplotlib import pyplot as plt
#matplotlib.style.use('ggplot')

import seaborn as sns

In [ ]:
#2. preparing to load data into colab from local drive
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [ ]:
#3. Loading data into dataframe
import io
df = pd.read_csv(io.BytesIO(uploaded['Iris.csv'])) 
#imports csv file in dataframe called df
#Dataset is now stored in a Pandas Dataframe

In [ ]:
#classes = df['Species'].unique().tolist()
#classes

In [ ]:
#4.1 Information of the data present in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
#4.2 Getting the dimension/shape of the data.
# Expect it to be 150 rows and 5 columns.

print(df.shape)

(150, 6)

In [ ]:
# Print the first 20 data points  the head of the dataset
print(df.head(10))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [ ]:
#4.3 Describing the dats present in dataset
# Use the describe function to describe some of the 
# statistical properties of the data.
print(df.describe())

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
#4.4 check the dats types in the dataframes 
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
#4.5 use the grouphy method to determine the class distribution
print(df.groupby("Species").size())

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [ ]:
#4.6 Data points count value for each class labels.
df.Species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
#4.5 Checking for missing values
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
#6. Turning categorical variables into quantitative variables

from sklearn import preprocessing
#Label_encoder object knows how to understand word labels
label_encoder= preprocessing.LabelEncoder()

#Encoder Labels in column 'Species
df["Species"]=label_encoder.fit_transform(df["Species"])

df["Species"].unique()

array([0, 1, 2])

In [ ]:
import pandas as pd

In [ ]:
csv_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [ ]:
iris = pd.read_csv(csv_url, header = None)

In [ ]:
# Iris doesnt have column names so give it
col_names = ['Sepal_Length','Sepal_width','Petal_Length','Petal_Width','Species']

In [ ]:
iris = pd.read_csv(csv_url, names = col_names)

In [ ]:
df1=df=iris

In [ ]:
iris.head(15)

    Sepal_Length  Sepal_width  Petal_Length  Petal_Width      Species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa

In [ ]:
iris.tail(6)

     Sepal_Length  Sepal_width  Petal_Length  Petal_Width         Species
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [ ]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
iris.columns

Index(['Sepal_Length', 'Sepal_width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [ ]:
iris.shape

(150, 5)

In [ ]:
iris.dtypes

Sepal_Length    float64
Sepal_width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [ ]:
iris.describe()

       Sepal_Length  Sepal_width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
iris.columns.values

array(['Sepal_Length', 'Sepal_width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [ ]:
iris.iloc[8]

Sepal_Length            4.4
Sepal_width             2.9
Petal_Length            1.4
Petal_Width             0.2
Species         Iris-setosa
Name: 8, dtype: object

In [ ]:
iris[47:51]

    Sepal_Length  Sepal_width  Petal_Length  Petal_Width          Species
47           4.6          3.2           1.4          0.2      Iris-setosa
48           5.3          3.7           1.5          0.2      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
50           7.0          3.2           4.7          1.4  Iris-versicolor

In [ ]:
cols_2_4=iris.columns[2:4]
iris[cols_2_4]

     Petal_Length  Petal_Width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [ ]:
iris.isnull().any()

Sepal_Length    False
Sepal_width     False
Petal_Length    False
Petal_Width     False
Species         False
dtype: bool

In [ ]:
iris.isnull().sum()

Sepal_Length    0
Sepal_width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [ ]:
iris.dtypes

Sepal_Length    float64
Sepal_width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [ ]:
df=iris
df['petal length(cm)']= iris['Petal_Length'].astype("int")

In [ ]:
df1=df

In [ ]:
df

,Sepal_Length,Sepal_width,Petal_Length,Petal_Width,Species,petal length(cm)
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5
146,6.3,2.5,5.0,1.9,Iris-virginica,5
147,6.5,3.0,5.2,2.0,Iris-virginica,5
148,6.2,3.4,5.4,2.3,Iris-virginica,5
149,5.9,3.0,5.1,1.8,Iris-virginica,5

In [ ]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

In [ ]:
x=iris.iloc[:,:4]

In [ ]:
x

     Sepal_Length  Sepal_width  Petal_Length  Petal_Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
x_scaled = min_max_scaler.fit_transform(x)

In [ ]:
x_scaled = min_max_scaler.fit_transform(x)

In [ ]:
df_normalized = pd.DataFrame(x_scaled)

In [ ]:
df_normalized

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

In [ ]:
df2=df1
df2['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()

In [ ]:
features_df=df2.drop(columns=['Species'])

In [ ]:
features_df

     Sepal_Length  Sepal_width  Petal_Length  Petal_Width  petal length(cm)
0             5.1          3.5           1.4          0.2                 1
1             4.9          3.0           1.4          0.2                 1
2             4.7          3.2           1.3          0.2                 1
3             4.6          3.1           1.5          0.2                 1
4             5.0          3.6           1.4          0.2                 1
..            ...          ...           ...          ...               ...
145           6.7          3.0           5.2          2.3                 5
146           6.3          2.5           5.0          1.9                 5
147           6.5          3.0           5.2          2.0                 5
148           6.2          3.4           5.4          2.3                 5
149           5.9          3.0           5.1          1.8                 5

[150 rows x 5 columns]

In [ ]:
enc_df=(enc.fit_transform(df2[['Species']])).toarray()

In [ ]:
enc_df = pd.DataFrame(enc_df, columns = ['Iris-Setosa','Iris-Versicolor','Iris-virginica'])

In [ ]:
df_encode = features_df.join(enc_df)

In [ ]:
df_encode

,Sepal_Length,Sepal_width,Petal_Length,Petal_Width,petal length(cm),Iris-Setosa,Iris-Versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,1,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,5,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,5,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,5,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,5,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,5,0.0,0.0,1.0